@page "/"
@using BlazorMonaco.Editor

<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>
<div>
<StandaloneCodeEditor Id="my-editor-id" CssClass="my-editor-class" />
</div>
Welcome to your new app.
